.drawercontainer{
    width: 100%;
    height: 100%;
}
.closebtn{
    position: relative;
    top: 35px;
    left: 85%;
    border: none;
    padding: 7px 25px;
    border: solid 1px grey;
    border-radius: 25px;
    background: none;
    cursor: pointer;
}
.drawerdivider{
    position: relative;
    height: 0.2px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.358);
    position: relative;
    top: 50px;
}
.orders{
    position: relative;
    top: 40px;
    padding: 10px 60px;
    padding: 150x 0;
}
.singleitem{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    
}
.singleitem img{
    height: 140px;
    width: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.singleitem h3{
    display: block;
    margin-bottom: 10px;
}
.singleitem p{
    display: block;
    font-size: 15px;
}
.iteminfo{
    position: relative;
    top: -10px;
    margin-left: 15px;
}