.mainpagecontainer{
    width: 100vh;
    height: 180vh;
    flex: 10;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 25px;
}

.container{
    display: grid;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.cards{
  
    background-color: white;
    margin-bottom: 10px;
    padding: 15px 10px;
    border-radius: 20px;
}
.cards img{
    
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.cards h3{
    font-size: 14px;
    position: absolute;
}
.cards h4{
    position: relative;
    top: -7px;
    left: 150px;
}
.btn{
    padding: 10px 70px;
    border: none;
    background-color: black;
    color: white;
    font-size: 11px;
    border-radius: 25px;
    cursor: pointer;
}
.discount{
position: relative;
top: -185px;
right: -150px;
background-image: url('../../../assets/discount.svg');
object-fit: cover;
height: 20px;
width: 20px;
}